body {
    position: relative;
    overflow-x: hidden;
    background-color:#EDECDA;
}

.red {
    color:#7F2724;
}

.light-blue {
    color:#6FA2B2;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
    background-color:#7F2724;
}

.header-section {
    background-color:#7F2724;
}

.main-section {
    margin-top:20px;
}
/*-------------------------------*/
/*           Buttons             */
/*-------------------------------*/
.btn {
    width:100%;
}

.btn:focus {
    color:#FFFFFF;
}

.btn-red {
    background-color:#7F2724;
    color:#FFFFFF;
}

.btn-red:hover {
    color:#FFFFFF;
}

.btn-white {
    background-color:#EDECDA;
    color:#000000;
}

.btn-glyphicon {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.btn-glyphicon > i {
    font-size:25px;
}
.btn-glyphicon > span {
    font-size:25px;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #FFFFFF;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #FFFFFF;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*      Idividual Beer Page      */
/*-------------------------------*/
.beer-pic > img {
    border-radius:100%;
    width:100%;
}

.beer-name-header {
    text-align:center;
}

#company-name {
    color:#FFFFFF;
}
#beer-name {
    color:#072845;
}

/* Beer Info */
.beer-info-box {
    background-color: #072845;
    color:#FFFFFF;
    box-shadow: 7px 8px 20px 2px #888888;
    border-radius: 6px;
}

.beer-info-box > div > div > h3 {
    text-align:center;
}

.beer-info-row {
    margin-top:10px;
}
.beer-info-row:last-child {
    margin-bottom:10px;
}
@media(min-width:992px) {
    .beer-info-box {
        margin-left:0px;
    }   
}
@media(max-width:992px) {
    .beer-info-box {
        margin-top:10px;
    }
}
/*Beer Pallet Information*/
.progress {
    background-color:#EDECDA;
}
.progress-bar {
    background-color:#7F2724;
}
/* Beer Rating */
.beer-rating-box {
    background-color: #072845;
    box-shadow: 7px 8px 20px 2px #888888;
    border-radius: 6px;
    margin-top:20px;
    color:#FFFFFF;
}

.slider-row {
    margin-top:10px;
}


.beer-rating-box > div > div > h3 {
    text-align:center;
}

.submit-row, .like-dislike-row {
    margin-bottom:10px;
}

/* Flat Rating Slider */
.flat-slider {
    margin-top:15px;
}
.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0;
}

.flat-slider.ui-slider {
  border: 0;
  background: #D1D0C0;
  border-radius: 20px;
}

.flat-slider.ui-slider-horizontal {
  height: 7px;
}

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 7px;
}

.flat-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #7F2724;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
  opacity: .8;
}

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 20;
  background: #FFFFF;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 7px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 7px;
}

.flat-slider.ui-state-disabled {
    opacity:1;
}

.like-dislike-row > div {
    text-align:center;
}


/*-------------------------------*/
/*         Beer List Page        */
/*-------------------------------*/
.beer-list-border {
    border: #072845 solid;
    border-radius: 5px;
    background-color: #072845;
    min-height: 300px;
}

.beer-list-parent-box {
    margin-bottom: 10px;
}

.beer-list-info-box {
    color: #FFFFFF;
}

.row-no-margin {
    margin-right: 0px;
    margin-left: 0px;
}
/*-------------------------------*/
/*            Modals            */
/*-------------------------------*/

/* Review Modal */
.modal-content {
    background-color:#072845;
    color:#FFFFFF;
}

.modal-header {
    text-align:center;
    border-bottom:none;
}

.close {
    color:#FFFFFF;
    text-shadow:0 1px 0 #000;
}
.close:hover {
    color:#888888;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7,40,69,.8);
    z-index: 1;
}


/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #EDECDA;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}
.nav-header {
    padding: 0px 0px 0px 5px;
    font-size:30px;
}

.nav-header > a {
    display:inline !important;
    padding:0px 0px 0px 0px !important;
}
.nav-header > a:hover {
    color:#072845 !important;
}

#foam-icon {
    padding: 6px 0px 0px 26px;
}

.sidebar-nav li:first-child a {
    color: #072845;
    background-color: #EDECDA;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #7F2724;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #7F2724;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #7F2724;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #7F2724;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #072845;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    min-height:70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #7f2724;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #EDECDA;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}



